.infographicStyle{
    color: black;
    text-align: left;
    background: rgba(255, 255, 255, 0.849);
    width: 75%;
    margin: 0 auto;
    margin: 0% auto 20% auto;
    padding: 2% 2% 2% 2%;
    font-size: 1.5em;
    border-radius: 5px;
    line-height: 2;
}

ul, li {
    margin-left: 1%;
    list-style-position: outside;
}

.fontLarge{
    font-size: 1.5em;
    font-weight: bold;
}

/* Below code is not fixing the size */
.fontLarge.is-open::after{
    font-size: 1.5em;
    font-weight: bold;
}


