
/* MATERIAL-UI DESIGN */
/* https://material.io/tools/icons/?icon=description&style=outline */

.App {
  display: block;
  text-align: center;  
  padding: 2%;
}

#navbar{
  position: fixed;
  text-align: left;  
  padding: 1% 0% 1% 1%;
  background: rgba(255, 255, 255, 0.849);
  color: rgb(60,90,153);
  font-size: 1.5em;
  z-index: 1;
  width: 100%;
}

#intro{
  font-size: x-large;
  margin: 15% 20% 20% 20%;
}

table{
  margin: 0 auto;
  margin-top: 2%;
  text-align: left;
  font-size: xx-large;
}

.material-icons.md-48 {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 48px;
}

img{
  background: url('./Infographic/infographic.JPG');
  width: 80%;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
}